{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ligne edit</h1>
    <form id="newVoyage" class="formBloc" action="{{ path('voyage_create', {'id': idCoop}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.numero) }}
        {{ form_row(form.numero) }}
        <div class="relative">
            <label for="departVoyage"> Depart :</label>
            <input type="text" id="departVoyage" data-src="{{ path('endroit_list') }}" autocomplete="off" class="autocomplete">
            <ul class="autocomplete_list forinput"> </ul>
        </div>
        <div style="display: none">
            {{ form_rest(form) }}
        </div>
    </form>





    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ligne') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
