{% extends '::base.html.twig' %}

{% block body -%}
<div class="fieldItem">
    <div class="titreBus">
        <img width="200" src="{{ asset('bundles/garnettaxibe/images/bus/'~ entity.numero|replace({'A': '', 'B': '','C': ''}) ~ '.png') }}">
        <h1>Editer la ligne {{ entity.numero }} </h1>
        <h2>{{ entity.libelle }}</h2>
        <div style="clear: both"></div>
    </div>
    <table style="width: 100%">
        <tr>
            <td style="width: 200px"><label for="trajet">Ajouter des trajets</label></td>
            <td>
                <form action="{{ path('ligne_new_trajet', {'id': entity.id}) }}" method="POST" class="formBloc">
                    <div class="relative">
                        <div id="trajet_container" style="width: 755px;display: inline-block;">
                        </div>
                        <input type="hidden" id="trajetId" name="trajetId">
                        <input type="text" id="departVoyage" data-src="{{ path('endroit_list') }}" autocomplete="off" class="autocomplete">
                        <ul class="autocomplete_list"> </ul>
                    </div>
                    <input type="submit" value="Valider">
                </form>
            </td>
        </tr>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('ligne') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    {% endblock %}
